In [49]:
with open('H\\book1.jpg', 'wb') as i:
    i.write(img.content)

In [50]:
for m in range(5, 121):
    link = soup.select('img')[m]['src'].split('_')[0]
    img = requests.get(f"{link}jpg")
    with open(f'book{m}.jpg', 'wb') as i:
        i.write(img.content)

In [98]:
for m in range(5, 121):
    text = soup.select('img')[m]['alt']
    with open('books.txt', 'a') as t:
        t.write(f'{text}\n')

In [115]:
with open('books.txt', 'r') as f:
    t = f.read()

In [370]:
# t

In [117]:
names = t.split('\n')

In [150]:
len(names)

117

In [159]:
names[115].split(' by ')[1]

'Brandon Sanderson'

In [160]:
books = {}
for i in range(116):
    book = names[i].split(' by ')[0].strip()
    writer = names[i].split(' by ')[1].strip()
    books[book] = writer

In [161]:
import pandas as pd
import numpy as np

In [162]:
len(books)

116

In [163]:
book_df = pd.DataFrame(books, index = ['book']).transpose()

In [164]:
book_df = book_df.reset_index()

In [165]:
book_df

                                               index                book
0                                   A Clash of Kings  George R.R. Martin
1                                               Mort     Terry Pratchett
2                                    The Dark Talent   Brandon Sanderson
3    How the King of Elfhame Learned to Hate Stories         Holly Black
4                 Alcatraz Versus the Shattered Lens   Brandon Sanderson
..                                               ...                 ...
111                             The Ship of the Dead        Rick Riordan
112                               The Hammer of Thor        Rick Riordan
113                              The Sword of Summer        Rick Riordan
114                                        Jane Eyre    Charlotte Brontë
115                               The Eleventh Metal   Brandon Sanderson

[116 rows x 2 columns]

In [166]:
book_df.columns = ['Book', 'Author']

In [167]:
book_df

                                                Book              Author
0                                   A Clash of Kings  George R.R. Martin
1                                               Mort     Terry Pratchett
2                                    The Dark Talent   Brandon Sanderson
3    How the King of Elfhame Learned to Hate Stories         Holly Black
4                 Alcatraz Versus the Shattered Lens   Brandon Sanderson
..                                               ...                 ...
111                             The Ship of the Dead        Rick Riordan
112                               The Hammer of Thor        Rick Riordan
113                              The Sword of Summer        Rick Riordan
114                                        Jane Eyre    Charlotte Brontë
115                               The Eleventh Metal   Brandon Sanderson

[116 rows x 2 columns]

In [172]:
book_df.groupby('Author').count()

                    Book
Author
Brandon Sanderson     36
C.S. Lewis             1
Cassandra Clare        2
Charlotte Brontë       1
George R.R. Martin     1
Holly Black           10
James Islington        3
Jim Butcher            2
Kiera Cass             4
Patrick Rothfuss       2
Pierce Brown           3
Rick Riordan          12
Robert Jordan         15
Robin Hobb             2
Sarah J. Maas         12
Shannon Messenger      4
Suzanne Collins        3
Terry Pratchett        1
Victoria Aveyard       2

In [173]:
book_df.to_csv('books.csv', index= False)

In [24]:
import requests
import bs4
final_link = 'https://www.goodreads.com/review/list/110673662-harikesh-kumar?page=15&sort=title'
link = 'https://www.goodreads.com/review/list/110673662-harikesh-kumar?page=12&sort=title'
code = requests.get(link)
soup = bs4.BeautifulSoup(code.text, "lxml")

In [205]:
# soup

In [43]:
len(soup.select('.bookalike'))

30

In [25]:
soup.select('.bookalike')[0]

<tr class="bookalike review" id="review_3957692427">
<td class="field checkbox"><label>checkbox</label><div class="value">
</div></td> <td class="field position" style="display: none"><label>position</label><div class="value"></div></td> <td class="field cover"><label>cover</label><div class="value"> <div class="js-tooltipTrigger tooltipTrigger" data-resource-id="44054122" data-resource-type="Book">
<a href="/book/show/44054122-imagine-me"><img alt="Imagine Me (Shatter Me, #6)" id="cover_review_3957692427" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1563815428l/44054122._SY75_.jpg"/></a>
</div>
</div></td> <td class="field title"><label>title</label><div class="value"> <a href="/book/show/44054122-imagine-me" title="Imagine Me (Shatter Me, #6)">
      Imagine Me
        <span class="darkGreyText">(Shatter Me, #6)</span>
</a></div></td> <td class="field author"><label>author</label><div class="value"> <a href="/author/show/4637539.Tahereh_Mafi">Mafi, Tahereh</a>
</div></td> <td class="field isbn" style="display: none"><label>isbn</label><div class="value">    006267644X
</div></td> <td class="field isbn13" style="display: none"><label>isbn13</label><div class="value">    9780062676443
</div></td> <td class="field asin" style="display: none"><label>asin</label><div class="value">
</div></td> <td class="field num_pages" style="display: none"><label>num pages</label><div class="value"> <nobr>
        480
        <span class="greyText">pp</span>
</nobr>
</div></td> <td class="field avg_rating"><label>avg rating</label><div class="value">    3.75
</div></td> <td class="field num_ratings" style="display: none"><label>num ratings</label><div class="value">    24,180
</div></td> <td class="field date_pub" style="display: none"><label>date pub</label><div class="value">      Mar 31, 2020
</div></td> <td class="field date_pub_edition" style="display: none"><label>date pub edition</label><div class="value">      Mar 31, 2020
</div></td>
<td class="field rating"><label>Harikesh's rating</label><div class="value">
<span class="staticStars notranslate"><span class="staticStar p0" size="15x15"></span><span class="staticStar p0" size="15x15"></span><span class="staticStar p0" size="15x15"></span><span class="staticStar p0" size="15x15"></span><span class="staticStar p0" size="15x15"></span></span>
</div></td><td class="field shelves"><label>my rating</label><div class="value">
<div class="stars" data-rating="0" data-resource-id="44054122" data-submit-url="/review/rate/44054122?stars_click=false" data-user-id="0"><a class="star off" href="#" ref="" title="did not like it">1 of 5 stars</a><a class="star off" href="#" ref="" title="it was ok">2 of 5 stars</a><a class="star off" href="#" ref="" title="liked it">3 of 5 stars</a><a class="star off" href="#" ref="" title="really liked it">4 of 5 stars</a><a class="star off" href="#" ref="" title="it was amazing">5 of 5 stars</a></div>
<span id="reviewMessage44054122_false"></span>
<span id="successMessage44054122_false"></span>
<div>
<a class="smallText actionLinkLite" href="/user/new" rel="nofollow">add to shelves</a>
</div>
</div></td><td class="field review" style="display: none"><label>review</label><div class="value">
<span class="greyText">None</span>
<div class="clear"></div>
</div></td><td class="field notes" style="display: none"><label>notes</label><div class="value">
<span class="greyText">Notes are private!</span>
</div></td><td class="field recommender" style="display: none"><label>recommender</label><div class="value">
<span class="greyText">none</span>
</div></td>
<td class="field comments" style="display: none"><label>comments</label><div class="value">
<a href="/review/show/3957692427">0</a>
</div></td>
<td class="field votes" style="display: none"><label>votes</label><div class="value">
<a href="/rating/voters/3957692427?resource_type=Review">0</a>
</div></td>
<td class="field read_count" style="display: none"><label># times read</label><div class="value">
        0
</div></td><td class="field date_started" style="display: none"><label>date started</label><div class="value">
<div>
<div class="editable_date date_started_new">
<span class="greyText">not set</span>
</div>
</div>
</div></td><td class="field date_read"><label>date read</label><div class="value">
<div>
<div class="editable_date date_read_new">
<span class="greyText">not set</span>
</div>
</div>
</div></td><td class="field date_added"><label>date added</label><div class="value">
<span title="April 21, 2021">
    Apr 21, 2021
  </span>
</div></td><td class="field date_purchased" style="display: none"><label>date purchased</label><div class="value"></div></td><td class="field owned" style="display: none"><label>owned</label><div class="value"></div></td><td class="field purchase_location" style="display: none"><label>purchase location</label><div class="value"></div></td><td class="field condition" style="display: none"><label>condition</label><div class="value"></div></td><td class="field format" style="display: none"><label>format</label><div class="value">
        ebook
</div></td><td class="field actions"><label>actions</label><div class="value">
<div>
<a class="nobreak" href="/review/show/3957692427">view</a>
</div>
</div></td>
</tr>

### Book Name

In [3]:
soup.select('.bookalike .title a')[10]

<a href="/book/show/6148028-catching-fire" title="Catching Fire (The Hunger Games, #2)">
      Catching Fire
        <span class="darkGreyText">(The Hunger Games, #2)</span>
</a>

In [42]:
soup.select('.bookalike .title a')[0]['title']

'Pride and Prejudice'

### Author

In [41]:
soup.select('.bookalike .author a')[0].text

'Austen, Jane'

In [354]:
soup.select('.bookalike .author a')[0]

### Book Image

In [7]:
link = soup.select('.bookalike img')[10]['src'].split('_')[0]
img = requests.get(f"{link}jpg")

In [260]:
# with open('book.jpg', 'wb') as i:
#     i.write(img.content)

### Book ISBN 13

In [26]:
soup.select('.bookalike .isbn13 .value')[0].text.strip()

'9780062676443'

### ISBN

In [27]:
soup.select('.bookalike .isbn .value')[0].text.strip()

'006267644X'

### Pages

In [39]:
int(soup.select('.bookalike .num_pages .value')[0].text.split('\n')[1].strip())

279

### Rating

In [37]:
float(soup.select('.bookalike .avg_rating .value')[0].text.strip())

4.27

### Number of Ratings

In [38]:
n = soup.select('.bookalike .num_ratings .value')[0].text.strip()
int(''.join(n.split(',')))

3260679

In [36]:
num_ratings

3260679

### Publication Date

In [34]:
soup.select('.bookalike .date_pub .value')[0].text.strip()

'Jan 28, 1813'

### Date Started

In [32]:
soup.select('.bookalike .date_started')[0].text.split('\n')[3]

'not set'

### Date Read

In [33]:
soup.select('.bookalike .date_read')[0].text.split('\n')[3]

'Jan 2019'

### Condition for valid pages

In [13]:
soup.select('.bookalike') != []

True

In [3]:
import requests
import bs4
final_link = 'https://www.goodreads.com/review/list/110673662-harikesh-kumar?page=15&sort=title'
link = 'https://www.goodreads.com/author/list/38550.Brandon_Sanderson'
code = requests.get(link)
soup = bs4.BeautifulSoup(code.text, "lxml")

In [39]:
len(soup.select('.bookalike'))

30

In [4]:
#Scarping book info from Goodreads
import requests
import bs4

books = []
authors = []
isbn13s = []
isbns =[]
pagess = []
ratings = []
num_ratings = []
pub_dates = []
# started = []
# ended = []

p=1
while soup.select('.bookalike') != []:
    link = f'https://www.goodreads.com/review/list/5633080?page={p}'
    code = requests.get(link)
    soup = bs4.BeautifulSoup(code.text, "lxml")
    print(p)
    for i in range(len(soup.select('.bookalike'))):

        book_name = soup.select('.bookalike .title a')[i]['title']
        books.append(book_name)

        author = soup.select('.bookalike .author a')[i].text
        authors.append(author)

        isbn13 = soup.select('.bookalike .isbn13 .value')[i].text.strip()
        isbn13s.append(isbn13)
        isbn = soup.select('.bookalike .isbn .value')[i].text.strip()
        isbns.append(isbn)

        pages = soup.select('.bookalike .num_pages .value')[i].text.split('\n')[1].strip()
        pagess.append(pages)

        rating = float(soup.select('.bookalike .avg_rating .value')[i].text.strip())
        ratings.append(rating)

        num = soup.select('.bookalike .num_ratings .value')[i].text.strip()
        num_rating = int(''.join(num.split(',')))
        num_ratings.append(num_rating)

        pub_date = soup.select('.bookalike .date_pub .value')[i].text.strip()
        pub_dates.append(pub_date)

#         date_started = soup.select('.bookalike .date_started')[i].text.split('\n')[3]
#         started.append(date_started
#                       )
#         date_ended = soup.select('.bookalike .date_read')[i].text.split('\n')[3]
#         ended.append(date_ended)
    
    p=p+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39

KeyboardInterrupt:

In [5]:
len(books)

1148

In [6]:
# pagess

In [7]:
import pandas as pd

In [8]:
index = 'Book Name, Author, ISBN 13, ISBN, Number of Pages, Average Rating, Total Number of Ratings, Publication Date'.split(', ')

In [9]:
book_df = pd.DataFrame(data = [books, authors, isbn13s, isbns, pagess, ratings, num_ratings, pub_dates], index = index).transpose()

In [16]:
book_df.groupby('Author').count().sort_values('ISBN')

,Book Name,ISBN 13,ISBN,Number of Pages,Average Rating,Total Number of Ratings,Publication Date
Author,,,,,,,
"Rawn, Melanie",1,0,0,0,0,0,0
"Newman, Alice",1,1,1,1,1,1,1
"Nguyen, Viet Thanh",1,1,1,1,1,1,1
"Nietzsche, Friedrich",1,1,1,1,1,1,1
"Niven, Larry",1,1,1,1,1,1,1
...,...,...,...,...,...,...,...
"Flewelling, Lynn",11,11,11,11,11,11,11
"Weber, David",13,13,13,13,13,13,13
"Sanderson, Brandon",15,15,15,15,15,15,15
"Reynolds, Alastair",23,23,23,23,23,23,23
"Applegate, K.A.",29,29,29,29,29,29,29

In [11]:
# book_df2 = pd.DataFrame(data = [books, authors, isbn13s, isbns, pagess, ratings, num_ratings, pub_dates, started, ended], index = index).transpose()

In [17]:
book_df[book_df['Author'] == 'Sanderson, Brandon']

,Book Name,Author,ISBN 13,ISBN,Number of Pages,Average Rating,Total Number of Ratings,Publication Date
725,"Skyward (Skyward, #1)","Sanderson, Brandon",9781473217850,1473217857,513,4.5,82674,"Nov 06, 2018"
726,"Secret History (Mistborn, #3.5)","Sanderson, Brandon",,,160,4.37,31508,"Jan 26, 2016"
777,"Edgedancer (The Stormlight Archive, #2.5)","Sanderson, Brandon",9781250166548,1250166543,272,4.27,51052,"Nov 22, 2016"
866,"Untitled (The Stormlight Archive, #10)","Sanderson, Brandon",,,,4.52,54,unknown
867,"Untitled (The Stormlight Archive, #9)","Sanderson, Brandon",,,,4.33,46,unknown
868,"Untitled (The Stormlight Archive, #8)","Sanderson, Brandon",,,,4.3,54,unknown
869,"Untitled (The Stormlight Archive, #7)","Sanderson, Brandon",,,,4.31,52,unknown
870,"Untitled (The Stormlight Archive, #5)","Sanderson, Brandon",,,,4.47,104,2023
871,"Untitled (The Stormlight Archive, #6)","Sanderson, Brandon",,,,4.29,55,2028
872,"Rhythm of War (The Stormlight Archive, #4)","Sanderson, Brandon",,,"1,270",4.63,55985,"Nov 17, 2020"
873,"Oathbringer (The Stormlight Archive, #3)","Sanderson, Brandon",9780575093348,057509334X,"1,248",4.57,154545,"Nov 14, 2017"
1007,"The Bands of Mourning (Mistborn, #6)","Sanderson, Brandon",,,448,4.39,85744,"Jan 26, 2016"
1142,"Untitled (Elantris, #3)","Sanderson, Brandon",,,,4.07,15,unknown
1143,"Untitled (Elantris, #2)","Sanderson, Brandon",,,,4.19,27,unknown
1144,"The Hope of Elantris (Elantris, #1.5)","Sanderson, Brandon",,,25,3.71,10967,2006

In [45]:
book_df2.to_csv('book_details.csv', index = False)

In [46]:
book_df2.isnull().sum()

Book Name                  0
Author                     0
ISBN 13                    0
ISBN                       0
Number of Pages            0
Average Rating             0
Total Number of Ratings    0
Publication Date           0
Started Date               0
Ended Date                 0
dtype: int64

In [57]:
book_df2[(book_df2['ISBN'] == '') & (book_df2['ISBN 13'] == '')]

,Book Name,Author,ISBN 13,ISBN,Number of Pages,Average Rating,Total Number of Ratings,Publication Date,Started Date,Ended Date
0,Pride and Prejudice,"Austen, Jane",,,279,4.27,3261579,"Jan 28, 1813",not set,Jan 2019
1,Harry Potter and the Sorcerer's Stone (Harry P...,"Rowling, J.K.",,,309,4.47,7680566,"Jun 26, 1997",not set,May 2018
5,The Battle of the Labyrinth (Percy Jackson and...,"Riordan, Rick",,,361,4.39,813295,"Mar 06, 2008",not set,not set
7,Alice's Adventures in Wonderland (Alice's Adve...,"Carroll, Lewis",,,96,3.98,289682,1862,not set,not set
8,Harry Potter and the Order of the Phoenix (Har...,"Rowling, J.K.",,,870,4.5,2707599,"Jun 21, 2003",not set,not set
...,...,...,...,...,...,...,...,...,...,...
395,"So Long, and Thanks for All the Fish (The Hitc...","Adams, Douglas",,,225,4.09,150961,"Oct 12, 1984",not set,not set
397,"The Stone Sky (The Broken Earth, #3)","Jemisin, N.K.",,,416,4.31,91594,"Aug 15, 2017",not set,not set
398,"The Fifth Season (The Broken Earth, #1)","Jemisin, N.K.",,,468,4.28,181413,"Aug 04, 2015","Jun 19, 2021","Jun 26, 2021"
399,"The Obelisk Gate (The Broken Earth, #2)","Jemisin, N.K.",,,410,4.28,110331,"Aug 16, 2016","Jun 26, 2021",not set
400,"Realm Breaker (Realm Breaker, #1)","Aveyard, Victoria",,,576,3.8,4767,"May 04, 2021","Jun 10, 2021","Jun 15, 2021"

In [18]:
book_df2.groupby('Author').count()['ISBN'].idxmax()

NameError: name 'book_df2' is not defined

In [84]:
import requests
import bs4
link = 'https://www.goodreads.com/author/list/38550.Brandon_Sanderson?page=1'
code = requests.get(link)
soup = bs4.BeautifulSoup(code.text, "lxml")

In [85]:
len(soup.select('tr'))

30

In [82]:
name = soup.select('tr .bookTitle')[29].text.strip()

In [83]:
name

'The Way of Kings, Part 2 (The Stormlight Archive #1, Part 2 of 2)'

In [49]:
rating = soup.select('tr .smallText')[0].text.strip().split('\n')[0]

'4.44 avg rating — 453,034 ratings'

In [91]:
for i in range(30):
    print(i)
    published= soup.select('tr .smallText')[22].text.strip().split('\n')[3].strip()

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

In [92]:
published

'2016'

In [61]:
editions = int(soup.select('tr .smallText')[0].text.strip().split('\n')[-1].strip().split(' ')[0])

In [65]:
# soup.select('tr')[0]

In [94]:
names = []
ratings = []
pub_dates = []
edition_num = []

import requests
import bs4
link = 'https://www.goodreads.com/author/list/38550.Brandon_Sanderson?page=1'
code = requests.get(link)
soup = bs4.BeautifulSoup(code.text, "lxml")

for i in range(len(soup.select('tr'))):
    name = soup.select('tr .bookTitle')[i].text.strip()
    names.append(name)
    
    rating = soup.select('tr .smallText')[i].text.strip().split('\n')[0]
    ratings.append(rating)
    
#     published= soup.select('tr .smallText')[i].text.strip().split('\n')[3].strip()
#     pub_dates.append(published)
    
    editions = int(soup.select('tr .smallText')[i].text.strip().split('\n')[-1].strip().split(' ')[0])
    edition_num.append(editions)

ValueError: invalid literal for int() with base 10: '(Illustrator)'

In [70]:
names

['Mistborn: The Final Empire (Mistborn, #1)',
 'Mistborn: The Final Empire (Mistborn, #1)',
 'Mistborn: The Final Empire (Mistborn, #1)',
 'Mistborn: The Final Empire (Mistborn, #1)',
 'Mistborn: The Final Empire (Mistborn, #1)',
 'Mistborn: The Final Empire (Mistborn, #1)',
 'Mistborn: The Final Empire (Mistborn, #1)',
 'Mistborn: The Final Empire (Mistborn, #1)',
 'Mistborn: The Final Empire (Mistborn, #1)',
 'Mistborn: The Final Empire (Mistborn, #1)',
 'Mistborn: The Final Empire (Mistborn, #1)',
 'Mistborn: The Final Empire (Mistborn, #1)',
 'Mistborn: The Final Empire (Mistborn, #1)',
 'Mistborn: The Final Empire (Mistborn, #1)',
 'Mistborn: The Final Empire (Mistborn, #1)',
 'Mistborn: The Final Empire (Mistborn, #1)',
 'Mistborn: The Final Empire (Mistborn, #1)',
 'Mistborn: The Final Empire (Mistborn, #1)',
 'Mistborn: The Final Empire (Mistborn, #1)',
 'Mistborn: The Final Empire (Mistborn, #1)',
 'Mistborn: The Final Empire (Mistborn, #1)',
 'Mistborn: The Final Empire (Mistborn, #1)',
 'Mistborn: The Final Empire (Mistborn, #1)',
 'Mistborn: The Final Empire (Mistborn, #1)',
 'Mistborn: The Final Empire (Mistborn, #1)',
 'Mistborn: The Final Empire (Mistborn, #1)',
 'Mistborn: The Final Empire (Mistborn, #1)',
 'Mistborn: The Final Empire (Mistborn, #1)',
 'Mistborn: The Final Empire (Mistborn, #1)',
 'Mistborn: The Final Empire (Mistborn, #1)']