In [4]:
import requests
import bs4

code = requests.get("https://www.goodreads.com/user_challenges/21855719")
soup = bs4.BeautifulSoup(code.text, "lxml")

In [371]:
# soup

In [94]:
soup.select('img')[120]['alt']

'The Eleventh Metal by Brandon Sanderson'

In [52]:
len(soup.select('img'))

137

In [29]:
link = soup.select('img')[10]['src'].split('_')[0]

In [30]:
link

'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1304976247l/6366110.'

In [31]:
img = requests.get(f"{link}jpg")

In [32]:
img

In [49]:
with open('H\\book1.jpg', 'wb') as i:
    i.write(img.content)

In [50]:
for m in range(5, 121):
    link = soup.select('img')[m]['src'].split('_')[0]
    img = requests.get(f"{link}jpg")
    with open(f'book{m}.jpg', 'wb') as i:
        i.write(img.content)

In [98]:
for m in range(5, 121):
    text = soup.select('img')[m]['alt']
    with open('books.txt', 'a') as t:
        t.write(f'{text}\n')

In [115]:
with open('books.txt', 'r') as f:
    t = f.read()

In [370]:
# t

In [117]:
names = t.split('\n')

In [150]:
len(names)

117

In [159]:
names[115].split(' by ')[1]

'Brandon Sanderson'

In [160]:
books = {}
for i in range(116):
    book = names[i].split(' by ')[0].strip()
    writer = names[i].split(' by ')[1].strip()
    books[book] = writer

In [161]:
import pandas as pd
import numpy as np

In [162]:
len(books)

116

In [163]:
book_df = pd.DataFrame(books, index = ['book']).transpose()

In [164]:
book_df = book_df.reset_index()

In [165]:
book_df

                                               index                book
0                                   A Clash of Kings  George R.R. Martin
1                                               Mort     Terry Pratchett
2                                    The Dark Talent   Brandon Sanderson
3    How the King of Elfhame Learned to Hate Stories         Holly Black
4                 Alcatraz Versus the Shattered Lens   Brandon Sanderson
..                                               ...                 ...
111                             The Ship of the Dead        Rick Riordan
112                               The Hammer of Thor        Rick Riordan
113                              The Sword of Summer        Rick Riordan
114                                        Jane Eyre    Charlotte Brontë
115                               The Eleventh Metal   Brandon Sanderson

[116 rows x 2 columns]

In [166]:
book_df.columns = ['Book', 'Author']

In [167]:
book_df

                                                Book              Author
0                                   A Clash of Kings  George R.R. Martin
1                                               Mort     Terry Pratchett
2                                    The Dark Talent   Brandon Sanderson
3    How the King of Elfhame Learned to Hate Stories         Holly Black
4                 Alcatraz Versus the Shattered Lens   Brandon Sanderson
..                                               ...                 ...
111                             The Ship of the Dead        Rick Riordan
112                               The Hammer of Thor        Rick Riordan
113                              The Sword of Summer        Rick Riordan
114                                        Jane Eyre    Charlotte Brontë
115                               The Eleventh Metal   Brandon Sanderson

[116 rows x 2 columns]

In [172]:
book_df.groupby('Author').count()

                    Book
Author
Brandon Sanderson     36
C.S. Lewis             1
Cassandra Clare        2
Charlotte Brontë       1
George R.R. Martin     1
Holly Black           10
James Islington        3
Jim Butcher            2
Kiera Cass             4
Patrick Rothfuss       2
Pierce Brown           3
Rick Riordan          12
Robert Jordan         15
Robin Hobb             2
Sarah J. Maas         12
Shannon Messenger      4
Suzanne Collins        3
Terry Pratchett        1
Victoria Aveyard       2

In [173]:
book_df.to_csv('books.csv', index= False)

In [356]:
import requests
import bs4
final_link = 'https://www.goodreads.com/review/list/110673662-harikesh-kumar?page=15&sort=title'
link = 'https://www.goodreads.com/review/list/110673662-harikesh-kumar?page=2&sort=title'
code = requests.get(link)
soup = bs4.BeautifulSoup(code.text, "lxml")

In [205]:
# soup

In [342]:
len(soup.select('.bookalike'))

30

In [348]:
# soup.select('.bookalike')[0]

### Book Name

In [259]:
soup.select('.bookalike .title a')[10]

<a href="/book/show/30169100-the-burning-white" title="The Burning White (Lightbringer, #5)">
      The Burning White
        <span class="darkGreyText">(Lightbringer, #5)</span>
</a>

In [353]:
soup.select('.bookalike .title a')[0]['title']

'Persuasion'

### Author

In [355]:
soup.select('.bookalike .author a')[0].text

'Austen, Jane'

In [354]:
soup.select('.bookalike .author a')[0]

### Book Image

In [255]:
link = soup.select('.bookalike img')[10]['src'].split('_')[0]
img = requests.get(f"{link}jpg")

In [260]:
# with open('book.jpg', 'wb') as i:
#     i.write(img.content)

### Book ISBN 13

In [349]:
soup.select('.bookalike .isbn13 .value')[0].text.strip()

'9780192802637'

### Pages

In [350]:
soup.select('.bookalike .num_pages .value')[0].text.split('\n')[1].strip()

'249'

### Rating

In [351]:
soup.select('.bookalike .avg_rating .value')[0].text.strip()

'4.14'

### Number of Ratings

In [352]:
soup.select('.bookalike .num_ratings .value')[0].text.strip()

'556,889'

### Publication Date

In [328]:
soup.select('.bookalike .date_pub .value')[0].text.strip()

'1838'

### Date Started

In [327]:
soup.select('.bookalike .date_started')[0].text.split('\n')[3]

'not set'

### Date Read

In [326]:
soup.select('.bookalike .date_read')[0].text.split('\n')[3]

'not set'

### Condition for valid pages

In [369]:
soup.select('.bookalike') != []

False