In [11]:
import pandas_datareader as pdr
import datetime 
aapl = pdr.get_data_yahoo('NSE:HINDUNILVR', 
                          start=datetime.datetime(2017, 10, 1), 
                          end=datetime.datetime(2018, 1, 1))

RemoteDataError: No data fetched for symbol NSE:HINDUNILVR using YahooDailyReader

In [3]:
aapl

                 High        Low       Open      Close     Volume  Adj Close
Date
2006-10-02   2.709643   2.653571   2.682143   2.673571  712639200   2.295572
2006-10-03   2.676786   2.613929   2.658929   2.645714  790708800   2.271653
2006-10-04   2.695000   2.612857   2.646429   2.692143  829082800   2.311517
2006-10-05   2.720000   2.647500   2.661786   2.672500  683883200   2.294652
2006-10-06   2.680000   2.636071   2.657857   2.650714  466958800   2.275946
...               ...        ...        ...        ...        ...        ...
2011-12-23  14.413929  14.267500  14.274643  14.404643  269399200  12.368062
2011-12-27  14.610357  14.393571  14.396429  14.518929  265076000  12.466189
2011-12-28  14.580357  14.333571  14.531786  14.380000  228662000  12.346902
2011-12-29  14.487500  14.303929  14.407143  14.468571  215978000  12.422953
2011-12-30  14.510000  14.410357  14.411071  14.464286  179662000  12.419275

[1323 rows x 6 columns]

In [9]:
aapl.describe()

,High,Low,Open,Close,Volume,Adj Close
count,1323.000000,1323.000000,1323.000000,1323.000000,1.323000e+03,1323.000000
mean,7.309392,7.126921,7.225253,7.222288,7.531586e+08,6.201175
std,3.549753,3.507440,3.530783,3.529933,4.108027e+08,3.030859
min,2.642143,2.592857,2.622143,2.615357,1.574944e+08,2.245589
25%,4.438215,4.295536,4.364465,4.357857,4.488148e+08,3.741727
50%,6.410714,6.181429,6.315000,6.280000,6.519464e+08,5.392111
75%,9.783215,9.587857,9.694285,9.675000,9.264920e+08,8.307115
max,15.239286,14.856786,15.062857,15.080000,3.372970e+09,12.947934