In [277]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import requests
import bs4

In [278]:
link = 'https://raw.githubusercontent.com/Hari31416/JavaScript/main/Codes/Vocabulary.html'
code = requests.get(link)
soup = bs4.BeautifulSoup(code.text, "lxml")

In [279]:
word = []
meaning = []
priority = []
priority2 = []
for m in range(0, 564, 1):
    if m%2==0:
        word.append(soup.select('.noteText')[m].text.strip())
        priority.append(soup.select('.noteHeading')[m].text.strip().split(' ')[1])
    else:
        priority2.append(soup.select('.noteHeading')[m].text.strip().split(' ')[1])
        meaning.append(soup.select('.noteText')[m].text.strip())

In [337]:
df2 = pd.DataFrame(data = [word, meaning, priority]).transpose()

In [338]:
df2.columns = ['Word', 'Meaning', 'Priorty']

In [339]:
df3 = df2[df2['Priorty'] == '-']

In [340]:
# df3

In [341]:
def change(value):
    if value == '-':
        return np.nan
    else:
        return value

In [342]:
df2['Priorty'] =df2['Priorty'].apply(change)

In [343]:
df2 = df2.dropna()

In [344]:
df2.columns

Index(['Word', 'Meaning', 'Priorty'], dtype='object')

In [345]:
df2['Priorty'].unique()

array(['(blue)', '(green)', '(yellow)'], dtype=object)

In [346]:
final = []
for prior in priority2:
    if prior== '-':
        pass
    else:
        final.append(prior)

In [347]:
len(final)

52

In [348]:
len(df3)

52

In [349]:
df3['Priorty'] = final

In [350]:
df3.columns = ['Meaning', 'Word', 'Priorty']

In [351]:
df = pd.concat([df2, df3])

In [352]:
df.head(10)

         Word                                            Meaning   Priorty
0        dour  relentlessly severe, stern, or gloomy in manne...    (blue)
1       droll  curious or unusual in a way that provokes dry ...   (green)
2      diddle  cheat or swindle (someone) so as to deprive th...  (yellow)
3      mallet         a hammer with a large, usually wooden head    (blue)
4     chisel.  a long-bladed hand tool with a bevelled cuttin...    (blue)
5       lithe  (especially of a person's body) thin, supple, ...   (green)
6     smother  kill (someone) by covering their nose and mout...   (green)
7      fumble  do or handle something clumsily\n\n           ...   (green)
8  revulsion.                    a sense of disgust and loathing   (green)
9   grotesque         comically or repulsively ugly or distorted    (blue)

In [353]:
df.iloc[-10]

Word                                             camaraderie
Meaning    mutual trust and friendship among people who s...
Priorty                                               (blue)
Name: 234, dtype: object

In [354]:
def change_priority(value):
    if value == '(green)':
        return 'first'
    elif value == '(yellow)':
        return 'second'
    else:
        return 'third'

In [355]:
def clean(word):
    pattern = r'\w*'
    the_list =  re.findall(pattern, word)
    for char in the_list:
        if char!='':
            return char.title()

In [356]:
clean('  !hello -_..,_? ')

'Hello'

In [357]:
df['Word']=df['Word'].apply(clean)

In [358]:
df['Priorty'] = df['Priorty'].apply(change_priority)

In [359]:
df['Priorty']

0       third
1       first
2      second
3       third
4       third
        ...
239     first
240     third
241     third
242     third
243     third
Name: Priorty, Length: 282, dtype: object

In [360]:
df['Meaning'] =  df['Meaning'].apply(lambda x:x.title())

In [361]:
df[df.duplicated()]

           Word                                            Meaning Priorty
253    Penchant  A Strong Or Habitual Liking For Something Or T...   first
275  Capricious  Given To Sudden And Unaccountable Changes Of M...   third
71   Implacable                   Unable To Be Stopped; Relentless   third

In [362]:
df = df.drop_duplicates()

In [363]:
df[df['Word'].duplicated()]

          Word                                            Meaning Priorty
262  Emaciated  Abnormally Thin Or Weak, Especially Because Of...   third
263  Frivolity             Lack Of Seriousness; Light-Heartedness   first
62       Droll  Curious Or Unusual In A Way That Provokes Dry ...   third
68      Robust  Strong And Healthy; Vigorous\n            Stur...   first
76        Dour  Relentlessly Severe, Stern, Or Gloomy In Manne...   third
210  Frivolous            Not Having Any Serious Purpose Or Value   third

In [364]:
df

         Word                                            Meaning Priorty
0        Dour  Relentlessly Severe, Stern, Or Gloomy In Manne...   third
1       Droll  Curious Or Unusual In A Way That Provokes Dry ...   first
2      Diddle  Cheat Or Swindle (Someone) So As To Deprive Th...  second
3      Mallet         A Hammer With A Large, Usually Wooden Head   third
4      Chisel  A Long-Bladed Hand Tool With A Bevelled Cuttin...   third
..        ...                                                ...     ...
239     Aptly  Appropriate Or Suitable In The Circumstances\n...   first
240     Hymns  A Religious Song Or Poem Of Praise To God Or A...   third
241  Cerebral     Intellectual Rather Than Emotional Or Physical   third
242    Puddle  Small Pool Of Liquid, Especially Of Rainwater ...   third
243   Elicits  Evoke Or Draw Out (A Reaction, Answer, Or Fact...   third

[279 rows x 3 columns]

In [365]:
df['Word'] = df['Word'].drop_duplicates()

In [366]:
df.reset_index()

,index,Word,Meaning,Priorty
0,0,Dour,"Relentlessly Severe, Stern, Or Gloomy In Manne...",third
1,1,Droll,Curious Or Unusual In A Way That Provokes Dry ...,first
2,2,Diddle,Cheat Or Swindle (Someone) So As To Deprive Th...,second
3,3,Mallet,"A Hammer With A Large, Usually Wooden Head",third
4,4,Chisel,A Long-Bladed Hand Tool With A Bevelled Cuttin...,third
...,...,...,...,...
274,239,Aptly,Appropriate Or Suitable In The Circumstances\n...,first
275,240,Hymns,A Religious Song Or Poem Of Praise To God Or A...,third
276,241,Cerebral,Intellectual Rather Than Emotional Or Physical,third
277,242,Puddle,"Small Pool Of Liquid, Especially Of Rainwater ...",third
278,243,Elicits,"Evoke Or Draw Out (A Reaction, Answer, Or Fact...",third

In [367]:
df = df.dropna()

In [368]:
df = df.sort_values('Word').reset_index().drop('index', axis = 1)

In [421]:
for i in range(len(df)):
    with open('text.txt', 'a+') as f:
        #text.txt should be empty
        try:
            previous_word = df['Word'][i-1][0]
        except:
            pass
        
        current_word = df['Word'][i][0]
        a = f"<button class='word {df['Priorty'][i]}'>{df['Word'][i]}</button>"
        b = f"<p class='meaning hidden'>{df['Meaning'][i]}</p>"
        c = "<button class='close hidden'>harikesh</button>"
        d = f"<h2 class='letter', id='{current_word}'\">{current_word}</h2>"
        
        if previous_word==current_word:
            
            f.writelines( a+'\n'+b+'\n'+c+'\n')
        else:
            f.writelines(d+'\n'+ a+'\n'+b+'\n'+c+'\n')