In [8]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import requests
import bs4 
import re

In [41]:
link = 'https://raw.githubusercontent.com/Hari31416/hari31416.github.io/homepage/data/Jane%20Eyre%20-%20Notebook.html'
code = requests.get(link)
soup = bs4.BeautifulSoup(code.text, "lxml")

In [3]:
word = soup.select(".noteText")[10].text.strip()

In [4]:
length = len(soup.select(".noteText"))

In [31]:
text = soup.select('.noteHeading')[1].text.strip()
pattern = r"\(\w{3,10}"
found = re.findall(pattern=pattern, string=text)
priorty = "".join(list(found)[0][1:])
# priority

IndexError: list index out of range

In [30]:
priorty

'yellow'

In [7]:
word

'privileges'

In [42]:
words = []
priorties = []
for i in range(length):
    word = soup.select(".noteText")[i].text.strip()
    words.append(word)
    
    if i ==1:
        pass
    else:
        text = soup.select('.noteHeading')[i].text.strip()
        pattern = r"\(\w{3,10}"
        found = re.findall(pattern=pattern, string=text)
        priorty = "".join(list(found)[0][1:])
        priorties.append(priorty)

In [43]:
essence = words[1]

In [44]:
words.remove(essence)

In [45]:
len(words)

329

In [46]:
len(priorties)

329

In [47]:
# priorties

In [51]:
link = 'https://raw.githubusercontent.com/Hari31416/hari31416.github.io/homepage/data/The%20Stone%20Sky%20-%20Notebook.html'
code = requests.get(link)
soup = bs4.BeautifulSoup(code.text, "lxml")

In [52]:
length = len(soup.select(".noteText"))

In [53]:
for i in range(length):
    word = soup.select(".noteText")[i].text.strip()
    words.append(word)
    
    text = soup.select('.noteHeading')[i].text.strip()
    pattern = r"\(\w{3,10}"
    found = re.findall(pattern=pattern, string=text)
    priorty = "".join(list(found)[0][1:])
    priorties.append(priorty)

In [54]:
len(words)

422

In [55]:
len(priorties)

422

In [65]:
df2 = pd.DataFrame(data = [words,priorties], index=['Word', 'Priorty']).transpose()

In [66]:
df2

            Word Priorty
0    possibility  yellow
1      shrubbery  yellow
2        sombre,    pink
3         nipped    pink
4       reclined    blue
..           ...     ...
417    inchoate;  orange
418   attrition,  orange
419      pallor,  orange
420    prurient;  orange
421   frivolity.    blue

[422 rows x 2 columns]

In [71]:
priorty_table = list(df2['Priorty'].unique())

In [70]:
priorty_rable

['yellow', 'pink', 'blue', 'orange']

In [68]:
print(essence)

Yellow: Words I know
Pink: Words I should know
Blue: Words I think I know
Orange: Words I donâ€™t know and are not that important

In [72]:
def change_priority(value):
    if value == priorty_table[0]:
        return 'first'
    elif value == priorty_table[1]:
        return 'second'
    elif value == priorty_table[2]:
        return 'third'
    elif value == priorty_table[3]:
        return 'fourth'

In [73]:
def clean(word):
    pattern = r'\w*'
    the_list =  re.findall(pattern, word)
    for char in the_list:
        if char!='':
            return char.title()

In [74]:
clean('  !hello -_..,_? ')

'Hello'

In [76]:
df2['Word']=df2['Word'].apply(clean)

In [77]:
df2['Priorty'] = df2['Priorty'].apply(change_priority)

In [79]:
df2['Priorty']

0       first
1       first
2      second
3      second
4       third
        ...
417    fourth
418    fourth
419    fourth
420    fourth
421     third
Name: Priorty, Length: 422, dtype: object

In [95]:
df2['Word'].nunique()

402

In [100]:
duplicated = df2[(df2['Word'].duplicated())].index

In [102]:
df2 = df2.drop(duplicated)

In [103]:
df2

            Word Priorty
0    Possibility   first
1      Shrubbery   first
2         Sombre  second
3         Nipped  second
4       Reclined   third
..           ...     ...
416       Quells  second
418    Attrition  fourth
419       Pallor  fourth
420     Prurient  fourth
421    Frivolity   third

[402 rows x 2 columns]

In [105]:
df = pd.read_csv("data/final_dict.csv")

In [109]:
final_df = pd.concat([df2, df[['Word', 'Priorty']]])

In [110]:
final_df

            Word Priorty
0    Possibility   first
1      Shrubbery   first
2         Sombre  second
3         Nipped  second
4       Reclined   third
..           ...     ...
268       Unruly   first
269    Veritable   third
270     Volition   third
271         Waif   third
272        Wroth  second

[675 rows x 2 columns]

In [112]:
final_df['Word'].nunique()

665

In [113]:
duplicated = final_df[(final_df['Word'].duplicated())].index
final_df = final_df.drop(duplicated)

In [118]:
final_df = final_df.sort_values('Word')

In [119]:
final_df.to_csv('data/dict_word_priorty.csv', index=False)