In [90]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('book_details.csv')

In [6]:
df.isnull().sum()

Book Name                    0
Author                       0
ISBN 13                    102
ISBN                       111
Number of Pages              5
Average Rating               0
Total Number of Ratings      0
Publication Date             0
Started Date                 0
Ended Date                   0
dtype: int64

In [7]:
df[df['Number of Pages'].isnull()]

,Book Name,Author,ISBN 13,ISBN,Number of Pages,Average Rating,Total Number of Ratings,Publication Date,Started Date,Ended Date
98,"Throne of Glass Collection (Throne of Glass, #...","Maas, Sarah J.",9.783200e+12,3200328290,NaN,4.73,1593,"Nov 07, 2014",not set,not set
174,"The Winds of Winter (A Song of Ice and Fire, #6)","Martin, George R.R.",9.780002e+12,0002247410,NaN,4.40,8722,unknown,not set,not set
175,"A Dream of Spring (A Song of Ice and Fire, #7)","Martin, George R.R.",NaN,NaN,NaN,4.38,1859,unknown,not set,not set
388,Sunreach (Skyward #3.1),"Sanderson, Brandon",NaN,NaN,NaN,0.00,0,unknown,not set,not set
389,ReDawn (Skyward #3.2),"Sanderson, Brandon",NaN,NaN,NaN,5.00,1,unknown,not set,not set

In [48]:
df['Book Name']

0                                    Pride and Prejudice
1      Harry Potter and the Sorcerer's Stone (Harry P...
2      The Fellowship of the Ring (The Lord of the Ri...
3      Harry Potter and the Chamber of Secrets (Harry...
4      Harry Potter and the Prisoner of Azkaban (Harr...
                             ...
396    Mostly Harmless (Hitchhiker's Guide to the Gal...
397                 The Stone Sky (The Broken Earth, #3)
398              The Fifth Season (The Broken Earth, #1)
399              The Obelisk Gate (The Broken Earth, #2)
400                    Realm Breaker (Realm Breaker, #1)
Name: Book Name, Length: 401, dtype: object

In [43]:
def series(name):
    temp = name.split('(')
    if len(temp)>1:
        return temp[1].split(',')[0].strip()
    else:
        return 'StandAlone'

In [51]:
series(df['Book Name'].iloc[400])

'Realm Breaker'

In [53]:
df['Series'] = df['Book Name'].apply(series)

In [79]:
def number(name):
    temp = name.split('#')
    if len(temp)>1:
        return int(list(temp[-1])[0])
    else:
        return 1

In [82]:
number(df['Book Name'].iloc[397])

3

In [74]:
list(df['Book Name'].iloc[2].split('#')[-1])[0]

'1'

In [86]:
df['Installation']=df['Book Name'].apply(number)

In [87]:
df

,Book Name,Author,ISBN 13,ISBN,Number of Pages,Average Rating,Total Number of Ratings,Publication Date,Started Date,Ended Date,Series,Installation
0,Pride and Prejudice,"Austen, Jane",NaN,NaN,279,4.27,3261579,"Jan 28, 1813",not set,Jan 2019,StandAlone,1
1,Harry Potter and the Sorcerer's Stone (Harry P...,"Rowling, J.K.",NaN,NaN,309,4.47,7680566,"Jun 26, 1997",not set,May 2018,Harry Potter,1
2,The Fellowship of the Ring (The Lord of the Ri...,"Tolkien, J.R.R.",9.780618e+12,0618346252,398,4.37,2472181,"Jul 29, 1954",not set,not set,The Lord of the Rings,1
3,Harry Potter and the Chamber of Secrets (Harry...,"Rowling, J.K.",9.780439e+12,0439064864,341,4.43,2971800,"Jul 02, 1998",not set,May 2018,Harry Potter,2
4,Harry Potter and the Prisoner of Azkaban (Harr...,"Rowling, J.K.",9.780440e+12,043965548X,435,4.57,3082225,"Jul 08, 1999",not set,not set,Harry Potter,3
...,...,...,...,...,...,...,...,...,...,...,...,...
396,Mostly Harmless (Hitchhiker's Guide to the Gal...,"Adams, Douglas",9.780345e+12,0345379330,288,3.96,117899,"Oct 12, 1992",not set,not set,Hitchhiker's Guide to the Galaxy,5
397,"The Stone Sky (The Broken Earth, #3)","Jemisin, N.K.",NaN,NaN,416,4.31,91594,"Aug 15, 2017",not set,not set,The Broken Earth,3
398,"The Fifth Season (The Broken Earth, #1)","Jemisin, N.K.",NaN,NaN,468,4.28,181413,"Aug 04, 2015","Jun 19, 2021","Jun 26, 2021",The Broken Earth,1
399,"The Obelisk Gate (The Broken Earth, #2)","Jemisin, N.K.",NaN,NaN,410,4.28,110331,"Aug 16, 2016","Jun 26, 2021",not set,The Broken Earth,2
400,"Realm Breaker (Realm Breaker, #1)","Aveyard, Victoria",NaN,NaN,576,3.80,4767,"May 04, 2021","Jun 10, 2021","Jun 15, 2021",Realm Breaker,1

In [118]:
def integer_con(num):
    if str(num) == 'nan':
        return np.nan
    else:
        return int(num)

In [119]:
df['ISBN 13'].apply(integer_con)

0               NaN
1               NaN
2      9.780618e+12
3      9.780439e+12
4      9.780440e+12
           ...
396    9.780345e+12
397             NaN
398             NaN
399             NaN
400             NaN
Name: ISBN 13, Length: 401, dtype: float64

In [110]:
integer_con(df['ISBN 13'].iloc[396])

9780345379337

In [117]:
# df['ISBN 13'].astype('int32')

In [121]:
df.to_csv('book_details.csv', index = False)