In [2]:
from math import factorial

In [5]:
9*factorial(9)

3265920

In [32]:
from math import factorial
def fact(number):
    fact = 0
    for digit in list(str(number)):
        fact = fact + factorial(int(digit))
    return fact

summ = 0
for n in range(int(3265920/54)):
    if fact(n) == n:
        summ+=n
print(summ-3)

40730

In [9]:
list(str(12))

['1', '2']

In [14]:
fact(1234)

33

In [19]:
summ = 0
for n in range(3265920):
    if fact(n) == n:
        summ+=n
print(summ-3)

40730

In [29]:
summ = 0
for n in range(int(3265920/54)):
    if fact(n) == n:
        summ+=n
        print(n)
print(summ-3)

1
2
145
40585
40730

In [3]:
from math import sqrt
def isprime(num):
    """
    Returns true if num is prime
    """
    if num == 0 or num == 1 or not num % 2:
        if num == 2:
            return True
        return False
    for i in range(3, int(sqrt(num)) + 1, 2):
        if num % i == 0:
            return False
    return True

In [42]:
import pandas as pd
init_num = '3'
the_dict = {}
dict_2 = {}
for m in range(0,10):
    nums = []
    for n in range(1,10):
        new_num = str(n)+str(m)
        if isprime(int(new_num)):
            nums.append(new_num)

    the_dict[m] = len(nums)
    if nums:
        dict_2[m] = nums
df = pd.DataFrame(the_dict, index = [1])

In [43]:
dict_2

{1: ['11', '31', '41', '61', '71'],
 3: ['13', '23', '43', '53', '73', '83'],
 7: ['17', '37', '47', '67', '97'],
 9: ['19', '29', '59', '79', '89']}

In [41]:
df

   0  1  2  3  4  5  6  7  8  9
1  0  5  0  6  0  0  0  5  0  5

In [32]:
the_dict

{1: '11,31,41,61,71',
 3: '13,23,43,53,73,83',
 7: '17,37,47,67,97',
 9: '19,29,59,79,89'}

In [22]:
the_dict[3]

['13', '23', '43', '53', '73', '83']

In [29]:
','.join(['1', '2'])

'1,2'

In [8]:
class Sample:
    def __init__(self):
        self.x = 5
    def change(self):
        self.x = 10
        
class Derived_sample(Sample):
    def change(self):
        self.x = self.x +1
        return self.x
    
def main():
    obj = Derived_sample()
    print(obj.change())
main()

6

In [33]:
from math import sqrt
def factors(n):
    factors = [1]
    for m in range(2,int(sqrt(n)+1)):
        if n%m==0:
            factors.append(m)
            if m != int(n/m):
                factors.append(int(n/m))
    factors.sort()
    return factors

In [37]:
eight = factors(8)

In [41]:
import itertools

In [51]:
eight

[1, 2, 4]

In [53]:
list(itertools.combinations(eight, 2))

[(1, 2), (1, 4), (2, 4)]

In [47]:
x

In [35]:
abundand = []
for m in range(2,28123,2):
    if sum(factors(m)) > m:
        abundand.append(m)

In [65]:
len(abundand)

6903

In [55]:
def isabundant(m):
    return sum(factors(m)) > m

In [54]:
sum((1,2))

3

In [62]:
double = list(itertools.combinations(abundand, 2))

In [64]:
len(double)

23822253

In [59]:
isabundant(24)

True

In [60]:
d_abund = []
for tup in list(itertools.combinations(abundand, 2)):
    if isabundant(sum(tup)):
        d_abund.append(sum(tup))

In [68]:
d_abund

56212